@model InstrumentationAccountingSystem.Models.HomeModel

@* @if (Model.User != null)
{
    <h2>Logged in as: @Model.User.Email, @Model.User.Role</h2>
}
else
{
    <h2>Not logged in.</h2>
}
 *@
<p><a asp-action="CreateInstrumentation">Добавить КИП</a></p>
<p><a asp-action="CreateType">Добавить тип КИП</a></p>

@* <table class="table">
    <tr><th>Id</th><th>Date</th><th>Name</th><th>Description</th><th>Photo</th></tr>
    @foreach (var note in Model.Instrumentations)
    {
        <tr>
            <td>@note.Id</td>
            <td>@note.Date</td>
            <td>@note.Name</td>
            <td>@note.Description</td>
            <td><img src="@note.Photo"></td>
            <td>
                <a asp-action="EditNote" asp-controller="Home" asp-route-id="@note.Id">Edit</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="DeleteNote" method="post" asp-route-id="@note.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>
 *@