@model InstrumentationAccountingSystem.Models.HomeModel

@* @if (Model.User != null)
{
    <h2>Logged in as: @Model.User.Email, @Model.User.Role</h2>
}
else
{
    <h2>Not logged in.</h2>
}
 *@

<p><a asp-action="CreateInstrumentation">Добавить КИП</a></p>
<p><a asp-action="CreateType">Добавить тип КИП</a></p>
<p><a asp-action="CreateLocation">Добавить место установки КИП</a></p>
<p><a asp-action="CreateVerification">Добавить поверку КИП</a></p>

<table class="table">
    <tr><th>Id</th><th>Тип</th><th>Модель</th><th>Заводской номер</th><th>Место установки</th><th>Пределы измерений</th><th>Периодичность измерений</th><th>Присоединение к процессу</th><th>Место поверки</th><th>Примечание</th></tr>
    @foreach (var item in Model.Instrumentations)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Model.Types.Single(u => u.Id == item.TypeId).Name</td>
            <td>@item.Model</td>
            <td>@item.FactoryNumber</td>
            <td>@Model.Locations.Single(u => u.Id == item.LocationId).Name</td>
            <td>@item.MeasurementLimits</td>
            <td>@item.Frequency</td>
            <td>@item.Connection</td>
            <td>@item.CheckLocation</td>
            <td>@item.Comment</td>
            <td>
                <a asp-action="EditInstrumentation" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="DeleteInstrumentationById" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>
