@model InstrumentationAccountingSystem.Models.HomeModel

@{
    Dictionary<int, bool> checkDates = new Dictionary<int, bool> { };
    foreach (var item in Model.Instrumentations)
    {
        try
        {
            DateTime sp = DateTime.Parse(Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency).ToString());
            bool t = sp.Subtract(DateTime.Now.Date).Days <= 0;
            if (t)
                checkDates.Add(item.Id, true);
            else
                checkDates.Add(item.Id, false);
        }
        catch (Exception)
        {
            try
            {
                checkDates.Add(item.Id, true);
            }
            catch (Exception)
            {
                throw;
            }
        }
    }
}

<div>
    <a asp-action="CreateInstrumentation"><button>Добавить прибор</button></a>
    <a asp-action="CreateType"><button>Добавить тип приборов</button></a>
    <a asp-action="CreateLocation"><button>Добавить место установки</button></a>
    <a asp-action="CreateVerification"><button>Добавить поверку прибора</button></a>
</div>
<form method="get" class="container-fluid">
    <label>Тип:</label>
    <select name="TypeId" id="TypeId">
        @foreach (var item in Model.Types)
        {
            <option value="@item.Id">@item.Id. @item.Name</option>
        }
    </select>
    <label>Модель:</label>
    <input type="text" name="Model" maxlength="50" size="20" value="@ViewData["Model"]" />
    <label>Заводской номер:</label>
    <input type="text" name="FactoryNumber" maxlength="50" size="10" value="@ViewData["FactoryNumber"]" />
    <label>Место установки:</label>
    <input type="text" name="LocationName" maxlength="50" size="30" value="@ViewData["LocationName"]" />
    <input type="submit" value="Фильтрация" style="display:inline;" />
</form>
<form method="get" class="container-fluid">
    <input type="submit" value="Отменить фильтрацию" />
</form>
<form method="get" class="container-fluid" >
    <label>Сортировать:</label>
    <input type="text" name="sortName" maxlength="50" size="20" />
    <input type="submit" value="Сортировать" />
</form>

<h4 style="clear:left; padding-top:20px;">Приборы(@Model.Instrumentations.Count):</h4>
<table class="table table-hover table-sm" >
    <tr>
    <th>Id</th>
    <th><form method="get"><input class="tableHead" type="submit" name="sortName" value="Тип" ></form></th>
    <th>Модель</th>
    <th>Заводской номер</th>
    <th>Место установки</th>
    <th>Пределы измерений</th>
    <th>Дата последней поверки</th>
    <th>Периодичность измерений</th>
    <th>Дата очередной поверки</th>
    <th>Присоединение к процессу</th>
    <th>Примечание</th>
    </tr>
    @foreach (var item in Model.Instrumentations)
    {
        <tr class="@string.Concat("check", checkDates[item.Id].ToString())" onclick="location.href = '@Url.Action("EditInstrumentation", "Home", item)';">
            <td>@item.Id</td>
            <td>@Model.Types.Single(u => u.Id == item.TypeId).Id. @Model.Types.Single(u => u.Id == item.TypeId).Name</td>
            <td>@item.Model</td>
            <td>@item.FactoryNumber</td>
            <td>@Model.Locations.Single(u => u.Id == item.LocationId).Name</td>
            <td>@item.MeasurementLimits</td>
            <td>@Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date</td>
            <td>@item.Frequency</td>
            <td>@Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency) 
                @if (@Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id) == null)
                {
                    <p>!!!!!</p>
                }
                else
                {
                    DateTime sp = DateTime.Parse(Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency).ToString());
                    <p>(@sp.Subtract(DateTime.Now.Date).Days дней)</p>
                }</td>
            <td>@item.Connection</td>
            <td>@item.Comment</td>
        </tr>
    }
</table>

<style>
    tr.checkTrue {
        background-color: red;
    }

    a {
        text-decoration: none;
    }

    .tableHead {
        background: none;
        border: none;
    }
</style>