@model InstrumentationAccountingSystem.Models.HomeModel

<style>
    tr.True {
        background-color: red;
    }
</style>

@{
    Dictionary<int, bool> checkDates = new Dictionary<int, bool> { };
    foreach (var item in Model.Instrumentations)
    {
        try
        {
            DateTime sp = DateTime.Parse(Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency).ToString());
            bool t = sp.Subtract(DateTime.Now.Date).Days <= 0;
            if (t)
                checkDates.Add(item.Id, true);
            else
                checkDates.Add(item.Id, false);
        }
        catch (Exception)
        {
            try
            {
                checkDates.Add(item.Id, true);
            }
            catch (Exception)
            {
                throw;
            }
        }
    }
}

<h5><a asp-action="CreateInstrumentation">Добавить прибор</a></h5>
<h5><a asp-action="CreateType">Добавить тип прибора</a></h5>
<h5><a asp-action="CreateLocation">Добавить место установки</a></h5>
<h5><a asp-action="CreateVerification">Добавить поверку прибора</a></h5>

<form method="get" style="float:left; display:inline">
    <label>ТипId:</label>
    <input type="text" name="TypeId" maxlength="20" size="7" value="@ViewBag.TypeId" />
    <label>Модель:</label>
    <input type="text" name="Model" maxlength="50" size="20" value="@ViewBag.Model" />
    <label>Заводской номер:</label>
    <input type="text" name="FactoryNumber" maxlength="50" size="10" value="@ViewBag.FactoryNumber" />
    <label>Место установки:</label>
    <input type="text" name="LocationName" maxlength="50" size="30" value="@ViewBag.LocationName" />
    <input type="submit" value="Фильтрация" style="display:inline;" />
</form>
<form method="get" style="float:left; margin-left:5px; " >
    <input type="submit" value="Отменить фильтрацию" style="display:inline;" />
</form>

@* <form method="get">
    <label>AAA:</label>
    <input type="text" name="AAA" maxlength="50" size="20" />
</form>
 *@
<h4 style="clear:left; padding-top:20px;">@ViewBag.AAA ----------Приборы(@Model.Instrumentations.Count):</h4>
<table class="table" >
    <tr ><th>Id</th><th>Тип</th><th>Модель</th><th>Заводской номер</th><th>Место установки</th><th>Пределы измерений</th><th>Дата последней поверки</th><th>Периодичность измерений</th><th>Дата очередной поверки</th><th>Присоединение к процессу</th><th>Примечание</th></tr>
    @foreach (var item in Model.Instrumentations)
    {
        <tr class="@checkDates[item.Id].ToString()" onclick="location.href = '@Url.Action("EditInstrumentation", "Home", item)';">
            <td>@item.Id</td>
            <td>@Model.Types.Single(u => u.Id == item.TypeId).Id. @Model.Types.Single(u => u.Id == item.TypeId).Name</td>
            <td>@item.Model</td>
            <td>@item.FactoryNumber</td>
            <td>@Model.Locations.Single(u => u.Id == item.LocationId).Name</td>
            <td>@item.MeasurementLimits</td>
            <td>@Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date</td>
            <td>@item.Frequency</td>
            <td>@Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency) 
                @if (@Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id) == null)
                {
                    <p>!!!!!</p>
                }
                else
                {
                    DateTime sp = DateTime.Parse(Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency).ToString());
                    <p>(@sp.Subtract(DateTime.Now.Date).Days дней)</p>
                }</td>
            <td>@item.Connection</td>
            <td>@item.Comment</td>
        </tr>
    }
</table>


@*         DateTime sp = DateTime.Parse(Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency).ToString());
@if (@sp.Subtract(DateTime.Now.Date).Days <= 0)
{
    //checkDate = DateTime.Parse(Model.Verifications.FirstOrDefault(u => u.InstrumentationId == item.Id)?.Date.AddMonths(item.Frequency).ToString()).Subtract(DateTime.Now.Date).Days <= 0;
}
 *@
<script src="~/js/site.js"></script>

@* <script>
    function filter() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script> *@